<style>
    .pinfo-breadcrumbs {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--Spacing-Container-xxs, 8px);
    align-self: stretch;
    flex-wrap: wrap;
    column-gap: 0px;
    padding: var(--Spacing-Container-xs);
    align-items: center;
    }
    .pinfo-breadcrumbs :is(a, span) {
    color: var(--Color-Dark-500, #0B0404);
    margin: 0;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
    text-transform: uppercase;
    }
  .p-info__breadcrumbs.mobile-only {
     display: none!important;
     @media(max-width: 600px){
     display: block!important;
    }
  } 
  .p-info__breadcrumbs.mobile-only .pinfo-breadcrumbs {
     @media(max-width: 600px){
      display: flex;
      {% comment %} padding: var(--Spacing-Container-xs) 0;  {% endcomment %}
      padding: 0 0 var(--Spacing-Container-md) 0 ; 
    }
  } 
  .pinfo-breadcrumbs {
    visibility: hidden;
  }
  .pinfo-breadcrumbs.visible {
    visibility: visible;
  }
</style>

<div class="pinfo-breadcrumbs">
  <a href="/">Home</a>
  {% comment %} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
    <path d="M11.1547 3.33333L5.24062 12.2103" stroke="#4B5563" stroke-width="1.5" stroke-linecap="round"/>
  </svg> {% endcomment %}
    <svg  xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
    <path d="M8.3335 5.83334L11.6668 10L8.3335 14.1667" stroke="#0B0404" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  <span id="collection-link">
    <a href="/collections/best-sellers">Best Sellers</a>
  </span>
  {% comment %} <svg class="desktop-only" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
    <path d="M11.1547 3.33333L5.24062 12.2103" stroke="#4B5563" stroke-width="1.5" stroke-linecap="round"/>
  </svg> {% endcomment %}
<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
  <path d="M8.3335 5.83334L11.6668 10L8.3335 14.1667" stroke="#0B0404" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
  <a  href="{{ product.url }}">{{ product.title | escape }}</a>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
   
    const breadcrumbs = document.querySelectorAll('.pinfo-breadcrumbs');
    const collectionLinkSpan = document.getElementById('collection-link');
    const referrer = document.referrer;
    const shopDomain = '{{ shop.url }}';
    const productCollections = {{ product.collections | json }};

    if (referrer && referrer.includes(shopDomain) && referrer.match(/\/collections\/([^\/?]+)/)) {
      const collectionHandle = referrer.match(/\/collections\/([^\/?]+)/)[1];
      const matchedCollection = productCollections.find(collection => collection.handle === collectionHandle);
      if (matchedCollection) {
        collectionLinkSpan.innerHTML = `<a href="/collections/${matchedCollection.handle}">${matchedCollection.title}</a>`;
      } else {
        collectionLinkSpan.innerHTML = `<a href="/collections/best-sellers">Best Sellers</a>`;
      }
    }
    
    breadcrumbs.forEach((breadcrumb)=>{
      breadcrumb.classList.add('visible');
    }) 
  });
</script>